@font-face {
  font-family: "Seven";
  src: local("Seven"), url(./seven.ttf) format("truetype");
}

:root {
  --display-font: Seven, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.main {
  display: inline-block;
  background: linear-gradient(-45deg, #39383f, #4e4f54);
  padding: 20px;
  border-radius: 45px;
}

.main-border-wrap {
  padding: 2px;
  background: black;
  background: linear-gradient(-45deg, #262627, #4e4f5460);
  box-shadow: 2px 6px 51px 0px rgb(160, 160, 160);
  border-radius: 47px;
}

.display {
  width: 378px;
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.9);
  text-align: right;
  font-size: 49px;
  font-family: "Seven", sans-serif;
  font-weight: 300;
  color: #ff9d56;
  margin-bottom: 20px;
  padding: 0 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-right: 1px solid #444444;
  border-bottom: 1px solid #444444;
  background: linear-gradient(-45deg, #262627, #4e4f5460);
  box-shadow: inset -4px -8px 8px 0 rgba(255, 255, 255, 0.1),
    inset 6px 8px 12px 0 rgba(0, 0, 0, 0.3);
}

.grid {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: repeat(5, 90px);
}

.button {
  width: 90px;
  height: 90px;
  padding: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d1d0cc;
  border: none;
  border-radius: 30px;
  outline: none;
}

.button.zero {
  width: 186px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.button-texture {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 3px solid #d1d0cc;
  border-radius: 75px;
  font-size: 48px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.1),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.button-texture.number {
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.5),
    rgba(0, 0, 0, 0.05)
  );
  color: rgba(0, 0, 0, 0.7);
}

.button-texture.operation {
  background: linear-gradient(135deg, rgb(219, 132, 0), rgb(255, 177, 61));
  color: rgba(0, 0, 0, 0.6);
}

.button-texture.misc {
  background: linear-gradient(
    -45deg,
    rgba(26, 24, 26, 0.6),
    rgba(26, 24, 26, 0.9)
  );
  color: #d1d0cc;
  font-size: 42px;
}

.button:active .button-texture.number {
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.15)
  );
}

.button:active .button-texture.operation {
  background: linear-gradient(135deg, rgb(207, 128, 8), rgba(255, 158, 11, 1));
}

.button:active .button-texture.misc {
  background: linear-gradient(-45deg, rgba(8, 8, 8, 0.6), rgba(0, 0, 0, 0.9));
}

.button:active .button-label {
  transform: translateY(1px);
}
